<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="HandMeDowns"
      content="A website for buying/selling/trading books."
    />
    <title>HandMeDowns</title>
    <link rel="stylesheet" href="css/pure.css" />
    <link rel="stylesheet" href="css/styles.css" />
  </head>
  <body>
        <ul> 
            <li><a class="active" href="home.html">HandMeDowns</a></li>
            <li><a class="buy" href="buy.html">Buy Books</a></li>
            <li><a class="sell" href="sell.html">Sell Books</a></li>
            <li><a class="trade" href="trade.html">Trade Books</a></li>
            <li style="float:right"><a href="admin.html">Administrator</a></li>
            <li style="float:right"><a href="login.html">Log in</a></li>

        </ul>

   </body>
</html>