<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="HandMeDowns"
      content="A website for buying/selling/trading books."
    />
    <title>HandMeDowns</title>
    <link rel="stylesheet" href="css/pure-min.css" />
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>

    <div>
        <div class="header">
          <div class="">
            <a class="" href="home.html">HandMeDowns</a>
  
            <ul class="">
              <li class="">
                <a href="buy.html" class="">Buy Books</a>
              </li>
              <li class="">
                <a href="sell.html" class="">Sell Books</a>
              </li>
              <li class="">
                <a href="trade.html" class="">Trade Books</a>
              </li>
              <li class="">
                <a href="admin.html" class="">Administrator</a>
              </li>
              <li class="">
                <a href="login.html" class="">Sign in</a>
              </li>
            </ul>
          </div>
        </div>

   </body>
</html>