<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Provider - HandMeDowns</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/pure-min.css" />
    <link rel="stylesheet" href="css/styles.css">
    <script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
</head>

<body class="provider-body">
<header class="header">
    <h1>Your Books</h1>
    <p> <a href="providerInventory.html" class="inventory-btn">Inventory</a> | <a href="Customer%20Statistics.html" class="statistics-btn">Customer Statistics</a> | <a href="provider-reviews.html" class="statistics-btn">Reviews</a> </p>
    <a href="home.html" class="back-btn">⬅ Back to Home</a>
</header>

<section class="provider-inventory">
    <i class="fa-solid fa-truck"></i>
    <h2>Inventory</h2>
</section>

<div class="container">
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col mt-3">
            <div class="card h-100">
                <img src="https://tinyurl.com/bdemxppf" class="card-img-top" alt="Chemistry">
                <div class="card-body">
                    <h5 class="card-title">Chemistry</h5>
                    <p class="card-text">Condition: Used</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card h-100">
                <img src="https://tinyurl.com/yv46dbev" class="card-img-top" alt="Calculus A">
                <div class="card-body">
                    <h5 class="card-title">Calculus A</h5>
                    <p class="card-text">Condition: Used</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Spanish</h5>
                    <p class="card-text">Condition: New</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Theory of Computation</h5>
                    <p class="card-text">Condition: Used</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col mt-3">
            <div class="card h-100">
                <img src="https://tinyurl.com/bdemxppf" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Physics</h5>
                    <p class="card-text">Condition: Like New</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Data Structures</h5>
                    <p class="card-text">Condition: New</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Geography</h5>
                    <p class="card-text">Condition: New</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">English</h5>
                    <p class="card-text">Condition: Used</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col mt-3">
            <div class="card h-100">
                <img src="https://tinyurl.com/bdemxppf" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Anatomy & Physiology</h5>
                    <p class="card-text">Condition: Like New</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Catcher in the Rye</h5>
                    <p class="card-text">Condition: New</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Catch-22</h5>
                    <p class="card-text">Condition: New</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">History of Mesopotamia</h5>
                    <p class="card-text">Condition: Used</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>

    </div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col mt-3">
            <div class="card h-100">
                <img src="https://tinyurl.com/bdemxppf" class="card-img-top" alt="">
                <div class="card-body">
                    <h5 class="card-title">Calculus II</h5>
                    <p class="card-text">Condition: Like New</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">How to Cook for Beginners</h5>
                    <p class="card-text">Condition: New</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">World History</h5>
                    <p class="card-text">Condition: New</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>
        <div class="col mt-3">
            <div class="card h-100">
                <img src="..." class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">Biology</h5>
                    <p class="card-text">Condition: Used</p>
                    <a href="" class="btn btn-primary">Trade</a>
                    <a href="" class="btn btn-primary">Sell</a>
                </div>
            </div>
        </div>

    </div>
</div>

</body>
</html>